/**
 * (c) Copyright 2013 Mundania Horvath
 */

@import url(../lib/bootstrap/3.0.2/css/bootstrap.css);

html 
  height: 100%;
}

body {
  background-color: #red;
  min-height: 100%;
  height: auto !important; 
  height: 100%; /** NEED FOR IE **/
  margin: 0;
  padding: 0;
}