/**
 * (c) Copyright 2013 Mundania Horvath
 */

@import url(../lib/bootstrap/3.0.2/css/bootstrap.css);

html {
  height: 100%; 
}

body {
  background-color: lightblue;
  min-height: 100%;
  height: auto !important; 
  height: 100%; /** NEED FOR IE **/
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 36px;
  font-weight: 300;
  color: rgb(95, 92, 92);
  line-height: 1.35;
}

.site-header {
  position: fixed;
  top: 0;
  padding: 0px 0px 0px 0px;
  border-bottom: 3px solid #c9c9c9;
  background-color: lightgray;
  width: 100%;
  height: 75px;
  z-index: 2;
}


nav {
  float: right;
  padding: 18px 8px 0;
  margin: 0;
  width: 58.333333333333336%;
}

.nav a {
  color: black;
  font-size: 14px;
  font-weight: 300;  
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.posts span, .posts li {
  display: none;
}

@media (max-width: 768px){
  
 .navbar-toggle {
    margin-top: 19px;
    position: relative;
    top: 0px;
    right: 12px;
    background-color: rgb(128,128,128);
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
  }
  
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: black;
  }