/**
 * (c) Copyright 2013 Mundania Horvath
 */

@import url(../lib/bootstrap/3.0.2/css/bootstrap.css);

html {
  height: 100%; 
}

body {
  min-height: 100%;
  height: auto !important; 
  height: 100%; /** NEED FOR IE **/
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-left: 24px;
}

h1 {
  font-size: 36px;
}

.site-header {
  padding-top: 0px;
  border-bottom: 0px solid #c9c9c9;
  background-color: lightgray;
  max-width: 100%;
  width: 100%;
  z-index: 2;
}

nav {
  float: left;
  padding: 18px 8px 0;
  margin: 0;
  width: 58.333333333333336%;
}